* {
    margin: 0;
}
.main {
    display: grid;
    grid-template-columns: 50% 50%;
}
button {
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    border-radius: 10rem;
    padding: 0.625rem 1.5rem 0.5rem;
}

.header-title {
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
header {
    background-color: deepskyblue;
}
.book-parts {
    display: flex;
    margin-top: 30px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    margin-right: 20px;
    border-radius: 6px;
    position: relative;

}
.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book-img {
    max-height: 400px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}
.book-btn {
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.add_buy {
    margin-left: 25px;
    color: #fff;
    background-color: #1266f1;
}
.add_buy:hover {
    box-shadow: 2px 3px 4px #afafaf;
    cursor: pointer;
}
.author {
    padding-top: 10px;
    padding-left: 8px;
    font-family: Georgia;
}
.title {
    padding-top: 15px;
    padding-left: 8px;
    font-family: Georgia;
}
.price {
    padding-top: 15px;
    padding-left: 8px;
    font-family: Arial;
}
.exit-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
input{
    height: 25px;
    border-radius: 6px;
    border:none;
}
.books-for-buy {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
}
.input-cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.radio-cash-box{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}.radio-cash-box input{
    margin-right: 5px;
}
.gift-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
.radio-card-box{
    display: flex;
    align-items: center;
}
.radio-card-box input{
    margin-right: 5px;
}
.gift-box div{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.gift-box input {
    margin-right: 5px;
}
.input-cont label{
    margin-bottom: 5px;
}
.show-more {
    color: #fff;
    background-color: #39c0ed;
}
.show-more:hover {
    box-shadow: 2px 3px 4px #afafaf;
    cursor: pointer;
}
.show-box {
position: relative;
}
.desc-box {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    height: 100%;
    background-color: deepskyblue;
    z-index: 5;
    border-radius: 6px;
    left: 15px;
    box-shadow: 2px 4px 25px #afafaf;

}
.confirm-direct {
    margin-left: 80px;
    text-decoration: none;
}
.confirm {
    display: none;
    color: #4f4f4f;
    background-color: #f9f9f9;
}
.descr {
    font-family: Georgia;
    padding-left: 8px;
    margin-top: 10px;

}
.enable {
    display: flex;
}
.total-confirm {
    display: flex;
    margin-top: 40px;
}
.close-btn {
    margin-top: 15px;
    margin-left: 15px;
    color: #fff;
    background-color: #00b74a;


}
.validation-body {
    width: 100%;
    height: 100%;

}
.validation-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 40px;
}

.valid-inputs:valid {
    border: 3px solid transparent;

}
.valid-inputs:required:invalid {
    border: 3px solid red;
}
